[package]
name = "quinn-proto"
version = "0.1.0"
authors = ["Benjamin Saunders <ben.e.saunders@gmail.com>", "Dirkjan Ochtman <dirkjan@ochtman.nl>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/djc/quinn"
description = "State machine for the QUIC transport protocol"
keywords = ["quic"]
categories = [ "network-programming", "asynchronous" ]
workspace = ".."

[package.metadata.docs.rs]
all-features = true

[badges]
maintenance = { status = "experimental" }

[features]
dangerous_configuration = ["rustls/dangerous_configuration"]

[dependencies]
byteorder = "1.1"
bytes = "0.4.7"
constant_time_eq = "0.1"
failure = "0.1"
fnv = "1.0.6"
lazy_static = "1"
rand = "0.6"
ring = "0.13"
rustls = { version = "0.14", features = ["quic"] }
slab = "0.4"
slog = "2.2"
webpki = "0.18"

[dev-dependencies]
assert_matches = "1.1"
hex-literal = "0.1.1"
slog-term = "2"
untrusted = "0.6.2"
webpki-roots = "0.15"
