[package]
name = "quinn-udp"
version = "0.2.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/quinn-rs/quinn"
description = "UDP sockets with ECN information for the QUIC transport protocol"
keywords = ["quic"]
categories = ["network-programming", "asynchronous"]
workspace = ".."
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[badges]
maintenance = { status = "experimental" }

[dependencies]
libc = "0.2.69"
proto = { package = "quinn-proto", path = "../quinn-proto", version = "0.8", default-features = false }
socket2 = "0.4"
tracing = "0.1.10"

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.36.1", features = ["Win32_Networking_WinSock"] }
