[package]
name = "quinn-udp"
version = "0.5.4"
edition = "2021"
rust-version.workspace = true
license = "MIT OR Apache-2.0"
repository = "https://github.com/quinn-rs/quinn"
description = "UDP sockets with ECN information for the QUIC transport protocol"
keywords = ["quic"]
categories = ["network-programming", "asynchronous"]
workspace = ".."

[package.metadata.docs.rs]
all-features = true

[features]
default = ["tracing", "log"]
# Configure `tracing` to log events via `log` if no `tracing` subscriber exists.
log = ["tracing/log"]
direct-log = ["dep:log"]

[dependencies]
libc = "0.2.113"
log = { workspace = true, optional = true }
socket2 = { workspace = true }
tracing = { workspace = true, optional = true }

[target.'cfg(windows)'.dependencies]
once_cell = { workspace = true }
windows-sys = { workspace = true }

[dev-dependencies]
criterion = "0.5"

[target.'cfg(any(target_os = "linux", target_os = "windows"))'.bench]
name = "throughput"
harness = false

[lints]
workspace = true
