[package]
name = "quinn-udp"
version = "0.5.0"
edition = "2021"
rust-version = "1.65"
license = "MIT OR Apache-2.0"
repository = "https://github.com/quinn-rs/quinn"
description = "UDP sockets with ECN information for the QUIC transport protocol"
keywords = ["quic"]
categories = ["network-programming", "asynchronous"]
workspace = ".."

[package.metadata.docs.rs]
all-features = true

[features]
default = ["log"]
# Write logs via the `log` crate when no `tracing` subscriber exists
log = ["tracing/log"]

[badges]
maintenance = { status = "experimental" }

[dependencies]
bytes = "1"
libc = "0.2.113"
socket2 = "0.5"
tracing = "0.1.10"

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.48.0", features = ["Win32_Networking_WinSock"] }
